<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memo App</title>
    <link href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" rel="stylesheet" />
    <link href="app.css" rel="stylesheet" />
</head>

<body>
    <div id="app" class="app">
        <div class="head">
            <p class="name">Memo</p>
            <p class="listbutton" v-if="mode !== 'list'" @click="mode = 'list'">&lt;</p>
        </div>
        <div class="body">
            <div v-if="mode === 'list'">
                <ul>
                    <li v-for="m in memos" @click="open(m.id)">{{ m.content }}</li>
                </ul>
            </div>
            <div class="write" v-else>
                <textarea class="textarea" v-model="memo.content"></textarea>
                <div class="button_wrap">
                    <button type="button" class="save" @click="save()" :class="{ 'edit' : mode === 'write'}">저장</button>
                    <button type="button" class="remove" @click="remove()" v-if="mode === 'edit'">삭제</button>
                </div>
            </div>
            <button type="button" class="plusbutton" @click="write()" v-if="mode === 'list'">+</button>
        </div>
    </div>

    <script src="vue.js"></script>
    <script src="app.js"></script>
</body>

</html>