.app .head {
    font-size: 1.5rem;
    color: #fff;
    padding: 20px;
    background: #07c;
    border-bottom: 1px solid #ddd;
    text-align: center;
    position: relative;
}

.app .body ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.app .body ul li {
    padding: 20px;
    font-size: 1rem;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.app .body .plusbutton {
    border: 0;
    outline: 0;
    padding: 20px;
    font-size: 2rem;
    position: fixed;
    right: 10%;
    bottom: 5%;
    background: #07c;
    color: #fff;
    border-radius: 50%;
    line-height: 0.5;
}

.app .body .write {
    padding: 10px;
}

.textarea {
    width: 100%;
    height: 420px;
    max-width: 100%;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: none;
    outline: 0;
}

.button_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.save {
    width: 45%;
    padding: 13px 15px;
    border: 0;
    background: #07c;
    color: #fff;
}

.cancel{
    width: 45%;
    padding: 13px 15px;;
    border: 0;
    background: grey;
    color: #fff;
}